<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Zao{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('images/logoZaoblanc-03.svg') }}"/>
        {% block stylesheets %}
           {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
